
.box{
    width: 100%;
    height: 100vh;

}
#gridd{
 width: 900px;
height: 900px;
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
;

}
.squaresmall{
    width: 90px;
    height: 90px;
    padding: 5px;

}
.contenuto{
   background-color: #ffff;
    color: rgb(14, 14, 14);
    width: 100%;
    height: 100%;
}
.fbuzz {
    background-color: #d88913;
    background-image: linear-gradient(132deg, #eb6a25 0%, #d39274 100%);
    color: #000000;
    font-weight: 700;
}
.fzz {
    background-color: #19026b;
    background-image: linear-gradient(132deg, #4abfed 0%, #b30de5 100%);
    color: #000000;
    font-weight: 700;
}
.bzz{
    background-color: #044001;
    background-image: linear-gradient(132deg, #0c5e14 0%, #5ba254 100%);
    color: #000000;
    font-weight: 700;
}